name: Build/Release

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - "**.md"
    branches:
      - main
  pull_request:
    paths-ignore:
      - "**.md"
    branches-ignore:
      - release

jobs:
  release:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, macos-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v6

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - run: npm ci
      - run: npm run package

      - name: Compress Portable Folder (Windows)
        if: matrix.os == 'windows-latest'
        uses: vimtor/action-zip@v1
        with:
          files: .\release\build\win-unpacked
          dest: .\release\build\win-unpacked.zip

      - name: Compress Portable Folder (macOS)
        if: matrix.os == 'macos-latest'
        run: |
          cd release/build
          zip -r mac-unpacked.zip mac

      - name: List Artifacts
        run: |
          if [ "${{ matrix.os }}" == "windows-latest" ]; then
            ls .\release\build
          else
            ls release/build
          fi

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          name: Build Outputs (${{ matrix.os }})
          path: |
            release/build/*.zip
            release/build/*.yml
            release/build/*.exe
            release/build/*.exe.*
            release/build/*.dmg
            release/build/*.app
